<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/shabalak/IdeaProjects/Demo/Demo2">
        <classes>
            <class name="tests.CustomerLoginTest">
                <methods>
                    <include name="customerLoginTestMethod"/>
                </methods>
            </class>
            <class name="tests.ManagerLoginTest">
                <methods>
                    <include name="managerLoginTestMethod"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>